[submodule "s2client-api"]
	path = external/s2client-api
	url = https://github.com/kubivan/s2client-api
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.6
